.container {
  text-align: center;
  padding: 1em;
}

.mat-table {
  width: 100%;
  text-align: left;
}

.mat-column-index {
  width: 80px;
}

.mat-column-name {
  width: 300px;
}

.toggles {
  text-align: right;
  & > * {
    margin: 0 10px;
  }
}
